@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

/* Header......>! */
.header-container {
  height: 10vh;
  display: flex;

  justify-content: space-around;
  align-items: center;
  /* z-index: -1; */
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
}

.nav-header ul {
  display: flex;
  column-gap: 30px;
  list-style-type: none;
  color: hsl(233, 8%, 62%);
  height: 10vh;

  align-items: center;
}
li {
  height: 10vh;
  display: flex;

  align-items: center;
}
.nav-header li:hover {
  border-bottom: 4px solid hsl(136, 65%, 51%);
  border-image-slice: 1;
  cursor: pointer;
  color: black;
}

.btn {
  font-size: 18px;
  color: hsl(0, 0%, 98%);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 66%),
    hsl(192, 70%, 66%)
  );
}

/* Footer */

footer {
  background-color: rgba(5, 12, 78, 0.979);
  display: flex;
  justify-content: space-evenly;
  position: absolute;

  width: 100vw;
}

.logo-footer {
  width: 45vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25%;
}

.meno-footer {
  color: white;
  width: 45vh;
  height: 25vh;
  display: flex;
}

.menu-container-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 17%;
  row-gap: 15px;
}

.btn-footer {
  background-color: rgb(211, 52, 40);
  width: 45vh;
}

.span-font-footer {
  font-size: 13px;
  width: 100px;
}

.span-font-footer:hover {
  cursor: pointer;
  color: rgb(74, 241, 74);
}

.socialapp {
  display: flex;
  column-gap: 10%;
  flex-direction: row;
  justify-content: normal;
  width: 50%;
}

.picsocial-footer:hover {
  cursor: pointer;
  background-color: rgb(74, 241, 74);
}

.btn-footer {
  font-size: 18px;
  color: hsl(0, 0%, 98%);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  cursor: pointer;
}

.btn-footer:hover {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 66%),
    hsl(192, 70%, 66%)
  );
}

.request-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  width: 45vh;
  height: 25vh;
}

.font-footer {
  font-size: 12px;
  color: hsl(233, 8%, 62%);
}

/* !.................Section.............! */

.section-intro {
  height: 70vh;

  /* background-color: aqua; */
  display: flex;
  overflow: hidden;
  margin-top: 10vh;
}

.main-intro-1 {
  /* border:1px solid rgb(235, 27, 27); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  row-gap: 5%;
}

.mockup {
  background: url("/images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 56rem;
  background-position-x: -16px;
  background-position-y: -197px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mockup-img {
  width: 87%;
  transform: translate(76px, 7px);
}

.main-heading {
  width: 50%;
  margin-left: 16%;
}

.main-heading p {
  font-size: 2rem;
  color: #483b3b;
}

.main-details {
  width: 65%;
  margin-left: 16%;
}

.main-details p {
  font-size: initial;
  color: #483b3b;
}

.btn-section {
  font-size: 18px;
  color: hsl(0, 0%, 98%);
  width: 10em;
  height: 2em;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  cursor: pointer;
  margin-left: 16%;
}

.btn-section:hover {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 66%),
    hsl(192, 70%, 66%)
  );
}

/* !!!!!.... Why Section.....!!! */

.reason {
  background-color: rgb(230, 225, 225);
  padding: 100px 50px;
  position: relative;
  z-index: -2;
}
.benefit {
  position: relative;
  padding-bottom: 20px;
  width: 45vw;
}

.benefit h1 {
  font-size: 40px;
  margin: 20px 0;
}

.benefit p {
  font-size: 0.9em;
  color: #565f66;
}

.font-size-para {
  font-size: 0.9em;
  color: #565f66;
}
.reason .why_list {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.why_list > div img {
  padding: 10px 0;
}

.why_list > div h2 {
  padding: 15px 0;
}

/* !!!!!!!!!!!......Articl....!!!!! */

.latest-articles {
  padding: 100px 50px;
  background: var(--veryLightGray);
}

.latest-articles > h1 {
  font-size: 35px;
  margin-bottom: 30px;
}

.articles {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.articles .article_card {
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}

.article-thumbnail {
  width: 100%;
  height: 200px;
  padding-bottom: 15px;
}

.article_card .postedBy {
  margin: 0px 0;
}

.article_card .article-title {
  font-size: 20px;
  padding: 10px 0;
}

.card_body {
  padding: 20px;
}

/* !!......Toggle button....!! */

.dropdown-toggle {
  display: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* !..............Media Responsive...................! */

@media (max-width: 400px) {
  .logo-footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .socialapp {
    display: flex;
    column-gap: 10%;
    flex-direction: row;
    justify-content: normal;
    width: 50%;
    margin-top: 29px;
  }
  .meno-footer {
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-container-footer {
    display: flex;
    flex-direction: column;
    margin-top: 11%;
    row-gap: 22px;
  }

  .span-font-footer {
    font-size: 16px;
    text-align: center;
    width: auto;
  }

  /* !!!!.....Articles......!! */
  .articles {
    flex-direction: column;
  }

  /* !......Why.....! */
  .benefit {
    position: relative;
    padding-bottom: 20px;
    width: auto;
    text-align: center;
  }

  /* .....!!!! Reasons.....!!! */

  .reason {
    padding: 40px;
    width: 100vw;
  }

  .reason .why_list {
    flex-direction: column;
  }

  .reason div {
    width: 82%;
    text-align: center;
  }

  .btn {
    display: none;
  }

  .nav-header {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .nav-header li {
    margin: 20px 0;
    color: var(--darkBlue);
    font-weight: 900;
    font-size: 20px;
  }
  .nav-header li::after {
    bottom: -20px;
  }

  .active {
    opacity: 1;
  }
  .dropdown-toggle {
    display: block;
  }

  .mockup {
    display: none;
  }

  .btn-section {
    margin-left: 23%;
  }

  .main-details {
    width: 57%;
    margin-left: 18%;
  }

  .main-heading {
    width: 72%;
    margin-left: 11%;
  }
  .main-intro-1 {
  border: 1px solid rgb(235, 27, 27);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5%;
}
.main-heading {
  width: 100%;
  margin-left: 0%;
  text-align: center;
}

.main-details {
  width: 100%;
  margin-left: 0%;
  text-align: center;
}


}
